@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@layer components{
  /* Layout Classes */
  .page-format{
    @apply w-full max-w-[1250px]
  }
}

@media (prefers-color-scheme: dark) {
  :root {

    --body-bg:#030014;
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--body-bg)
}
