.vide-container{
    mask-image: radial-gradient(50% 50% at 50% 50%,#fff 60.94%,transparent 100%);
    webkit-mask-image: radial-gradient(50% 50% at 50% 50%,#fff 60.94%,transparent 100%);
}

.hero-title-gradient{
    background: linear-gradient(180deg,#fff 0%,rgba(255,255,255,.7) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}